.searchbar {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 2023;
  display: flex;
  justify-content: center;
}

.searchForm {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 330px;
  background-color: #ebedee;
  border-radius: 50px;
  overflow: hidden;
  margin-top: 5px;
}

.button {
  display: inline-block;
  width: 60px;
  height: 48px;
  border: 0;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
}

.button:hover {
  opacity: 1;
}

.input {
  background-color: #ebedee;
  display: inline-block;
  width: 100%;
  font: inherit;
  font-size: 18px;
  border: none;
  outline: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 0;
}

.input::placeholder {
  font: inherit;
  font-size: 18px;
}
