.item {
  max-width: 600px;
  padding: 10px;
  margin: 5px;
  border-radius: 7px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.1),
    rgba(47, 48, 58, 0.1)
  );
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.namesOfFields {
  font-size: 18px;
  color: #6e61ca;
}

.name {
  color: #000000;
  font-size: 28px;
  font-weight: 300;
}

.language {
  color: #243d66;
  font-size: 20px;
  font-weight: 400;
}

.description {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}
